body {
	margin: 0;
	padding: 0;
}
#printArea {
	box-shadow: inset 0 0 0 1000px #dd0;
}
#paper {		box-shadow: inset 0 0 0 1000px #2dd;	}
.box {
	position: absolute;
	overflow: hidden;
	box-shadow: inset 0 0 0 1000px red;
}

@media screen {
	.screenAbsolute {
		position: absolute;
	}
	.sideDiv {
		background-color: green;
	}
	.measure input {
		width: 40px;
		height: 16px;
	}
	.horizontal .measure {
		height: 100%;
	}
	.horizontal .measure svg {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 20px;
	}
	.horizontal .measure input{
		position: absolute;
		left: 50%;
		margin-left: -25px;
	}
	.vertical .measure {
		width: 100%;
	}
	.vertical .measure input{
		position: absolute;
		top: 50%;
		margin-top: -13px;
	}
	.vertical .measure svg {
		position: absolute;
		right: 0;
		width: 20px;
		height: 100%;
	}
}

@media print {
	.sideDiv {
		display: none;
	}
}
